<!-- Their information -->
<%= @user.gravator %><br>
<%= @user.display_name %><br>
<%= @user.handle %><br>

<br>

<ul>
<% @quots.each do |quot| %>
  <li><%= quot.text %></li>
  <br><br>
  <!-- requot button here -->

<% end %>
</ul>

<a href="/user/<%= @user.id %>/followers">Followers</a>
<a href="/user/<%= @user.id %>/following">Following</a>

